* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Courier New", Courier, monospace;
}

/* styling the header and the footer by giving same class name */
.blue-bg {
  background-color: #075070;
  color: #fafcfe;
  text-align: center;
  font-size: 700;
}

/* styling the header */

.header {
  padding: 28px 0;
  width: 100%;
}

/* styling the banner section */
.banner {
  margin: 0 0 45px;
}

/* making the image of the banner 100% */
.banner img {
  width: 100% !important;
}

/*The first puppies covers 60% the screen on the mobile */
.puppies-1 {
  width: 60%;
  margin: 0 auto;
}

/*The second puppies covers 60% the screen on the mobile */
.puppies-2 {
  width: 80%;
  margin: 0 auto;
}

/* making missing puppies container invisible on the mobile */
.first-puppies-section .missing-puppies {
  display: none;
}

/* making more puppies section text align in the center */
.more-puppies-section {
  text-align: center;
  margin: 0 0 72px;
  font-size: 1.5rem;
}

/* giving margin-top for the puppies images  */
.puppy-1,
.puppy-2,
.puppy-3,
.puppy-4 {
  margin: 0 0 72px;
}

/* giving padding-top to h1 inside the footer */
footer h1 {
  padding: 63px 0;
}

/* making break point on 768px and above and making puppies flex */
@media (width >=768px) {
  .puppies {
    display: flex;
    width: 980px;
    justify-content: space-between;
    margin: 0 auto;
  }

  /* making missing puppies section visible and giving width and height */
  .first-puppies-section .missing-puppies {
    display: flex;
    background-color: #ee4d65;
    font-size: 60px;
    width: 310px;
    height: 310px;
    align-items: center;
    text-align: center;
  }
}
