*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
      font-family: "Montserrat", sans-serif;
}

img {
    max-width: 100%;
}

a{
    text-decoration: none;
    color: #fff;
}

.header-internal-wrapper {
    background-color: #000;
    font-weight: 200;
    font-size: 0.75rem;

}

.header-nav-wrapper {
    width: 980px;
    padding: 0 10px;
    margin: 0 auto;

}
.header-internal-wrapper ul {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
    list-style: none;

}

.header-internal-wrapper ul img {
    width: 24px;
}

.header-nav-wrapper .cart-link, .header-nav-wrapper .logo-link, .header-nav-wrapper .search-link{
    width: 18px;
    padding: 12px 0 10px;
}

.first-section{
   	background: #fafafa;
	text-align: center;
	padding: 25px 0;
    display: block;
}